.container {
    text-align: center;
    border: solid 2px gray;
    margin: 0 300px;
    padding: 0 30px;
}

#intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#intro h1 {
    color: limegreen;
    text-align: left;
    margin: 50px 30px;
}

#intro p {
    color: maroon;
    font-size: 22px;
    text-align: left;
    margin: 50px 30px;
}