.container {
    text-align: center;
    border: solid 2px gray;
    margin: 0 300px;
    padding: 0 30px;
}

#intro {
    font-family: Arial, Helvetica, sans-serif;

}

#intro h1 {
    color: rgb(23, 23, 160);
    text-align: left;
    margin: 50px 30px;
}

#intro p {
    color: black;
    font-size: 22px;
    text-align: left;
    margin: 50px 30px;
}